@charset "UTF-8"; 

/* 
Light - 'NanumSquareL'
Regular - 'NanumSquareR'
Bold - 'NanumSquareB'
ExtraBold - 'NanumSquareEB'
*/

/*/////////////////////////////////////////////////////////////////////////
///////////                        ** 팝업 **                       ///////
/////////////////////////////////////////////////////////////////////////*/

/* 팝업 - 공통 */
.blockScroll { height: calc(var(--vh, 1vh) * 100); overflow: hidden; }
.popup { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100vh; z-index: 9999; background: rgba(0, 0, 0, .6); padding: 0 15px; letter-spacing: -1px; opacity: 0; visibility: hidden; }
.popup.on { opacity: 1; visibility: visible; overflow: auto; }
.popup .inner_pop { position: relative; transform: translate(-50%, -50%); left: 50%; top: calc(50% - 40px); padding-top: 40px; margin: 50px 0; }
.popup .inner_pop .btn_close { width: 30px; height: 30px; border-radius: 100%; background: #ffffff url(../images/common/popup_close.png)50% 50% no-repeat; background-size: 10.5px 10.5px; position: absolute; right: 0; top: 0; }
.popup .inner_pop .pop_content { display: none; background: #fff; }
.popup .inner_pop .pop_content > h3 { font-family: 'NanumSquareB'; font-size: 18px; }
.popup .inner_pop .pop_content>p {font-size: 13px;line-height: 1.3;}
.popup .inner_pop .pop_content>p.tcenter {text-align: center;}
.popup .inner_pop .pop_content .pop_txt_list li {font-size: 12px;color: #999;line-height: 1.2;position: relative;padding-left: 9px;}
.popup .inner_pop .pop_content .pop_txt_list li::before {content: '';display: block;width: 3px;height: 3px;border-radius: 100%;background: #999;position: absolute;top: 4px;left: 0;}
.wrap_sub01 .popup .inner_pop .pop_content .pop_txt_list li::before {background: #79bd28;}
.popup .inner_pop .pop_content .pop_txt_list li+li {margin-top: 5px;}
.popup .inner_pop .pop_content .pop_txt_list li>strong {font-family: 'NanumSquareB';color: #333;margin-right: 5px;}

/*  팝업 - 공통 - alert */
.popup.popup_alert .inner_pop { max-width: 260px; }
.popup .pop_alert { padding: 35px 20px 20px; background: #fff; border-radius: 10px; flex-wrap: wrap; }
.popup .pop_alert .pop_tit { font-size: 18px; line-height: 1.25; text-align: center; width: 100%; }
.popup .pop_alert .pop_tit>b { font-family: 'NanumSquareB'; }
.popup .pop_alert button { margin-top: 24px; background: #f18e1e; color: #ffffff; width: 100%; padding: 14px 0; border-radius: 5px; }
.wrap_sub01 .popup .pop_alert button {background: #79bd28;}
.popup .pop_alert.step01 button { font-size: 13px; font-family: 'NanumSquareB'; }
.popup .pop_alert.step01 button:last-child { margin-top: 9px; background: #79bd28; }
.popup .pop_alert .btn_box { width: 100%; margin-top: 24px; }
.popup .pop_alert .btn_box > div { height: 40px; }
.popup .pop_alert .btn_box > div a { line-height: 40px; font-size: 13px; }

.wrap_sub03 .popup .pop_alert.step01 button,
.wrap_sub03 .popup .pop_alert button {background: #fc637d;}
.popup_alert.on {display: block;}
.pop_delivery {display: none;}
.pop_delivery.on {display: block;}

/* 팝업 - 공통 - 밑에서 나오는 팝업 */
.popup.popup_bottom { padding: 0; }
.popup.popup_bottom .inner_pop { position: absolute; top: initial; bottom: 0; transform: translate(-50%, 0); width: 100%; margin: 0; }
.popup.popup_bottom .inner_pop .btn_close { right: 15px; }

/* 팝업 - 불가관리 */
.impossible_pop { background: #ffffff; border-radius: 10px; padding: 30px 25px 35px; display: flex; flex-wrap: wrap; justify-content: space-between; }
.impossible_pop h3  { font-family: 'NanumSquareB'; font-size: 18px; padding-bottom: 16px; width: 100%; }
.impossible_pop ul { padding: 27px 15px 0; background: #f6f6f6; border-top: 1px solid #727272; width: 100%; max-height: 150px; overflow: auto; }
.impossible_pop ul li { display: flex; justify-content: space-between; overflow: inherit; font-size: 13px; font-family: 'NanumSquareB'; color: #333333; padding-bottom: 13.5px; padding-right: 1px; }
.impossible_pop ul li:last-child { padding-bottom: 0; }
.impossible_pop ul li span::before { content: ''; display: inline-block; border-radius: 100%; width: 3px; height: 3px; background: #f18e1e; vertical-align: middle; margin-right: 7px; }
.impossible_pop ul li span span { display: none; }
.impossible_pop .impos_action { width: 100%; padding: 13.5px 15px 27px; background: #f6f6f6; }
.impossible_pop .impos_action select { font-family: 'NanumSquareB'; font-size: 12px; -o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; width: 100%; height: 40px; padding: 0 11px; border: 1px solid #cfcfcf; border-radius: 5px; background:#ffffff url(../images/common/select.png) calc(100% - 10px) 50% no-repeat; background-size: 6px 3px; }
.impossible_pop .impos_action select::-ms-expand { display: none; }
.impossible_pop .impos_action select:focus { background: #ffffff url(../images/common/select_on.png) calc(100% - 10px) 50% no-repeat; background-size: 6px 3px; }
.impossible_pop .impos_action textarea { border: 1px solid #cfcfcf; width: 100%; height: 150px; border-radius: 5px; margin-top: 10px; resize: none; padding: 15px 11px; line-height: 1.2; font-size: 12px; color: #333333; display: none; }
.impossible_pop > button { width: calc(50% - 5px); border-radius: 5px; margin-top: 30px; font-size: 13px; font-family: 'NanumSquareB'; color: #727272; background: #cfcfcf; padding: 14px 0; }
.impossible_pop > button.save { background: #f18e1e; color: #ffffff; float: right; }
.impossible_pop > button.save.time_btnColor { background: #f18e1e; }
/* .reason_setting > button { width: calc(100% / 3 - calc(20px / 3)); height: 40px; border-radius: 5px; margin-top: 30px; color: #727272; font-size: 13px; font-family: 'NanumSquareB'; background: #cfcfcf; }
.reason_setting > button.save { background: #79bd28; color: #ffffff; }
.reason_setting > button.save.time_btnColor { background: #79bd28; }
.reason_setting > button.delete { background: #ffffff; border: 1px solid #cfcfcf; } */

/* 팝업 - 근무/휴무 선택 */
.scheduleEdit_pop { background: #ffffff; border-radius: 10px 10px 0 0; padding: 30px 15px 25px; }
.scheduleEdit_pop .date_select { overflow-x: auto; height: auto; margin: 10px 0 20px; }
.scheduleEdit_pop .date_select ul { display: flex; align-items: center; }
.scheduleEdit_pop .date_select ul li { flex-shrink: 0; width: 70px; height: 30px; margin-right: 5px; background: #f6f6f6; border-radius: 5px; line-height: 30px; text-align: center; font-size: 12px; }
.scheduleEdit_pop .schedule_select { display: flex; align-items: center; justify-content: space-between; margin: 10px 0 30px; }
.scheduleEdit_pop .schedule_select li { width: calc((100% - 10px) / 3); height: 40px; line-height: 40px; border: 1px solid #cfcfcf; border-radius: 5px; font-size: 12px; text-align: center; }
.scheduleEdit_pop .schedule_select li button,
.scheduleEdit_pop .schedule_select li a { display: block; width: 100%; height: 100%;}
.scheduleEdit_pop .schedule_select li.on { border-color: #f18e1e; }
.scheduleEdit_pop .schedule_select li:hover a, 
.scheduleEdit_pop .schedule_select li.on a { color: #f18e1e; }
.scheduleEdit_pop .btn_box a { font-size: 15px; }

/* 팝업 - 중복환아검색 */
.duplicateChild_pop { padding: 30px 25px 35px; border-radius: 10px; flex-direction: column; }
.duplicateChild_pop .search_info { font-size: 12px; margin-top: 15px; text-align: center; line-height: 1.33; }
.duplicateChild_pop .search_info b { font-size: 15px; color: #79bd28; }
.duplicateChild_pop .search_info > span { font-family: 'NanumSquareEB'; color: #79bd28; }
.duplicateChild_pop .search_info .search_info_tit { float: left; }
.duplicateChild_pop .search_info .search_info_total { float: right; }
.duplicateChild_pop .search_info .search_info_total > span { font-family: 'NanumSquareEB'; color: #79bd28; }
.duplicateChild_pop .con_list>ul { border-top: 1px solid #727272; margin-top: 15px; }
.duplicateChild_pop .con_list>ul>li { padding: 15px 0 12px; cursor: pointer; border-bottom: 1px solid #e5e5e5; }
.duplicateChild_pop .con_list>ul>li:hover { background: rgba(241, 142, 30, .05); }
.duplicateChild_pop .con_list>ul>li>a { display: flex; justify-content: space-between; width: 100%; position: relative; }
.duplicateChild_pop .con_list>ul>li>a>div:last-child { text-align: right; }
.duplicateChild_pop .con_list>ul>li>a>div>ul { display: flex; align-items: center; color: #727272; font-size: 11px; }
.duplicateChild_pop .con_list>ul>li>a>div>ul>li::after { content:''; display: inline-block; width: 1px; height: 10px; background: #e5e5e5; margin: 0 10px -2px; }
.duplicateChild_pop .con_list>ul>li>a>div>ul>li:last-child::after { display: none; }
.duplicateChild_pop .con_list>ul>li>a>div>ul .name { font-family: 'NanumSquareB'; font-size: 13px; color: #333; }
.duplicateChild_pop .con_list>ul>li>a>div .idbox { font-size: 13px; color: #727272; margin-top: 10px; }
.duplicateChild_pop .con_list>ul>li>a>div .hospital { font-size: 11px; color: #999; }
.duplicateChild_pop .con_list>ul>li>a>div .phone { font-size: 11px; letter-spacing: -1.1px; color: #333; }
.duplicateChild_pop .con_list>ul>li>a>div .phone::before { content:''; display: inline-block; margin: 10px 7px 0 0; width: 9px; height: 10px; background: url(../images/common/icon_phone.png) no-repeat; background-size: contain; }
.duplicateChild_pop>p { font-size: 18px; text-align: center; line-height: 1.25; margin: 35px 0 40px; }

/* 취소된 일정 팝업 */
#divCclSchdWrap form { width: 100%; }
#divCclSchdWrap ul { margin-top: 20px; }
#divCclSchdWrap ul>li { display: flex;align-items: center; }
#divCclSchdWrap ul>li+li { margin-top: 12px; }
#divCclSchdWrap ul>li .name { font-family: 'NanumSquareEB';font-size: 15px;color: #333; }
#divCclSchdWrap ul>li .name::after { content:'';display: inline-block;width: 1px;height: 10px;background: #e5e5e5;margin: 0 10px; }
#divCclSchdWrap ul>li .hospital { font-size: 11px;color: #999; }
#divCclSchdWrap ul>li .type { font-family: 'NanumSquareB';font-size: 13px;color: #333;margin-right: 10px; }
#divCclSchdWrap ul>li .type::before { content:'';display: inline-block;width: 3px;height: 3px;border-radius: 100%;background: #f18e1e;vertical-align: middle;margin-right: 6px; }
#divCclSchdWrap ul>li .time { font-family: 'NanumSquareB';font-size: 13px;color: #999; }
#divCclSchdWrap ul>li .reason { width: 100%;background: #f5f5f5;border-radius: 5px;padding: 15px 0;text-align: center;font-size: 13px; }
#divCclSchdWrap ul>li .reason dt { font-family: 'NanumSquareB';color: #333; }
#divCclSchdWrap ul>li .reason dd { color: #888;margin-top: 5px; }

/* 상담취소사유 선택 팝업 */
.impossible_pop ul li.alignLeft { justify-content: flex-start;color: #999; }
.impossible_pop ul li.alignLeft span { margin-right: 10px;color: #333; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .popup .inner_pop { width: 345px; }
  .scheduleEdit_pop { padding: 30px 15px 70px; }
}

/*  */
.con_sub .con_box .con_inner03 { padding: 0 15px; background: #fff; }
.con_sub .con_box .con_inner04 { padding: 20px 15px 65px 15px; background: #fff; }
.con_sub .con_box .con_inner05 { padding: 20px 15px 100px 15px; background: #fff; }
.con_sub .search_box .srh_box02 { margin-bottom: 0; }
.con_sub .tb03,
.con_sub .tb04 {border-top: 1px solid #ececec;}
.con_sub .tb_none {border-top: none;}

.btn_box04 .btn_orange { float: left; width: 60px; height: 40px; line-height: 40px; margin-left: 4px; }
.btn_box04 .btn_orange button,
.btn_box04 .btn_orange a { font-family: 'NanumSquareB'; font-size: 12px; }

.wrap_sub .sub_top .sub_nav{ display:flex; justify-content: space-between; padding: 0 15px; border-bottom: 8px solid #f1f1f1 }
.wrap_sub .sub_top .sub_nav a{  padding: 16.5px 0px; display: block; width: 33.3333333333%; text-align: center; white-space: nowrap; font-size: 15px }
.wrap_sub .sub_top .sub_nav a.active{ color: #f18e1e; border-bottom: 2px solid #f18e1e; font-family: 'NanumSquareEB' }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .con_sub .con_box .con_inner05 { padding: 20px 15px 125px 15px; }
}


/*/////////////////////////////////////////////////////////////////////////
///////////                   ** 상담일정관리 **                    ///////
/////////////////////////////////////////////////////////////////////////*/

/* 상담일정관리 - 공통 */
.wrap_sub .sec_cal { width: 100%; padding: 35px 15px 57px; letter-spacing: -1px; background: #ffffff; }
.wrap_sub .sec_cal .alert,
.wrap_sub .sec_cal .alert01 { font-size: 12px; letter-spacing: -1.2px; color: #333333; line-height: 1; display: flex; align-items: center; padding-bottom: 15px; }
.wrap_sub .sec_cal .alert i,
.wrap_sub .sec_cal .alert01 i { background: #13bfd6; width: 5px; height: 5px; display: inline-block; border-radius: 100%; margin-right: 6px; }
.wrap_sub .sec_cal .cal_nav .year-month { font-family: 'NanumSquareEB'; text-align: center; line-height: .8; font-size: 22.85px; color: #333333; letter-spacing: -1.2px; }
.wrap_sub .sec_cal .cal_nav .year-month span { font-size: 24.83px; }
.wrap_sub .sec_cal .cal_nav { display: flex; justify-content: center; align-items: center; font-weight: 700; font-size: 48px; line-height: 78px }
.wrap_sub .sec_cal .cal_nav .nav { display: flex; border: 1px solid #333; border-radius: 5px }
.wrap_sub .sec_cal .cal_nav a { width: 15px; height: 25px; text-indent: -9999px; display: flex; justify-content: center; align-items: center; transition: all ease .1s; }
.wrap_sub .sec_cal .cal_nav a:active { transform: scale(1.2); }
.wrap_sub .sec_cal .cal_nav .go-next { background: url(../images/common/cal_arrow_next.png) 0% 50% no-repeat; background-size: 7px 12px; }
.wrap_sub .sec_cal .cal_nav .go-prev { background: url(../images/common/cal_arrow_prev.png) 100% 50% no-repeat; background-size: 7px 12px; }
.wrap_sub .sec_cal .cal_nav .go-prev::before { transform: rotate(-135deg) }
.wrap_sub .sec_cal .cal_nav .go-next::before { transform: rotate(45deg) }

@media screen and (min-width: 768px) and (max-width: 1024px) {

}

/* 상담일정관리 - 캘린더 */
.wrap_sub .calendar .sec_cal .cal_nav .year-month { width: 157.5px; }
.wrap_sub .sec_cal .cal_wrap { padding-top: 30px; position: relative; margin: 0 auto; }
.wrap_sub .sec_cal .alert_wrap { display: flex; align-items: center; }
.wrap_sub .sec_cal .alert_wrap .alert:not(:last-of-type) { margin-right: 15px; }
.wrap_sub .sec_cal .alert_wrap .alert01 small { font-size: 9px; color: #727272; }
.wrap_sub .sec_cal .alert_wrap .alert02 i { background: #f49baa; }
.wrap_sub .sec_cal .alert_wrap .alert03 i { background: #9ed363; }
.wrap_sub .sec_cal .cal_wrap .days { display: flex; padding: 11.5px 0 13px; border-top: 1px solid #333333; border-bottom: .5px solid #e5e5e5; }
.wrap_sub .sec_cal .cal_wrap .day { display: flex; align-items: center; justify-content: center; flex-wrap: wrap; width: calc(100% / 7); font-family: 'NanumSquareB'; color: #727272; font-size: 10px; text-align: center; }
.wrap_sub .sec_cal .cal_wrap .day.disable a { color: rgba(114, 114, 114, .4); }
.wrap_sub .sec_cal .cal_wrap .day:nth-child(7n).disable a { color: rgba(50, 99, 224, .4); }
.wrap_sub .sec_cal .cal_wrap .day:nth-child(7n+1).disable a { color: rgba(227, 40, 40, .4); }
.wrap_sub .sec_cal .cal_wrap .day:nth-child(7n),
.wrap_sub .sec_cal .cal_wrap .day:nth-child(7n) a { color: #3263e0; }
.wrap_sub .sec_cal .cal_wrap .day:nth-child(7n+1),
.wrap_sub .sec_cal .cal_wrap .day:nth-child(7n+1) a { color: #e32828; }
.wrap_sub .sec_cal .cal_wrap .dates { display: flex; flex-flow: wrap; }
.wrap_sub .sec_cal .cal_wrap .dates .day { height: 79px; border-bottom: .5px solid #e5e5e5; }
.wrap_sub .sec_cal .cal_wrap .dates .day:not(.current) { /* padding: 7.5px 5px 6px; */ position: relative; font-size: 9px; align-items: flex-start; justify-content: space-between; }
.wrap_sub .sec_cal .cal_wrap .dates .day button { display: flex; width: 100%; height: 100%; padding: 7.5px 5px 6px; position: relative; font-size: 9px; align-items: flex-start; justify-content: space-between; }
/* .wrap_sub .sec_cal .cal_wrap .dates .day:nth-child(7n), */
/* .wrap_sub .sec_cal .cal_wrap .dates .day:nth-child(7n+1), */
/* .wrap_sub .sec_cal .current.today,  */
.wrap_sub .sec_cal .cal_wrap .dates .day.disable { background: #f6f6f6; }
.wrap_sub .sec_cal .cal_wrap .dates .day button.on { background: #79bd28; color: #fff; }
.wrap_sub .sec_cal .current .schedule { width: calc(100% - 5px); height: 15px; position: absolute; left: 2.5px; display: flex; align-items: center; justify-content: center; border-radius: 2px; color: #ffffff; font-size: 9px; font-family: 'NanumSquareB'; padding: 0 5.5px; }
.wrap_sub .sec_cal .current .schedule.hpc_block { bottom: 41px; border: 1px solid #13bfd6; color: #13bfd6; font-family: 'NanumSquareR'; font-size: 8px; text-align: center; justify-content: center; }
.wrap_sub .sec_cal .current .schedule.hpc_block>b { font-size: 9px;font-family: 'NanumSquareB'; }
.wrap_sub .sec_cal .current .schedule.edu_block { bottom: 23.5px; background: #f49baa; }
.wrap_sub .sec_cal .current .schedule.cs_block { bottom: 6px; background: #9ed363; }
.wrap_sub .sec_cal .current .schedule.edu_block>b,
.wrap_sub .sec_cal .current .schedule.cs_block>b { background: #fff;border-radius: 5.5px;width: 20px;padding: 1.5px 0 1px;font-size: 8px;display: flex;justify-content: center;margin-right: 9px;margin-left: -2px; }
.wrap_sub .sec_cal .current .schedule.edu_block>b { color: #f49baa; }
.wrap_sub .sec_cal .current .schedule.cs_block>b { color: #9ed363; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrap_sub .calendar .sec_cal .cal_nav .year-month { width: 187.5px; }
  .wrap_sub .sec_cal .cal_wrap .dates .day { height: 18.3vw; }
  .wrap_sub .sec_cal .cal_wrap .dates .day button { padding: 7.5px 5px 12px; }
  .wrap_sub .sec_cal .current .hpc_block { max-width: 35px; height: 20px; line-height: 20px; font-size: 12px; border-radius: 10px; margin:-4px 4px 0 0; }
  .wrap_sub .sec_cal .current .schedule { width: calc(100% - 10px); height: 20px; font-size: 12px; left: 5px; }
  .wrap_sub .sec_cal .current .schedule.edu_block { bottom: 37px; }
  .wrap_sub .sec_cal .current .schedule.cs_block { bottom: 12px; }
}


/* 상담일정관리 - 상세일정 */
.wrap_sub .schedules .sec_cal .cal_nav .year-month { width: 237.5px; }
.wrap_sub .sec_cal .schedule_wrap { position: relative; margin: 23.5px auto 0; }
.wrap_sub .sec_cal .schedule_wrap .alert01,
.wrap_sub .sec_cal .hpc_wrap .alert01 { font-family: 'NanumSquareEB'; font-size: 13px; padding-bottom: 25px; }
.wrap_sub .sec_cal .schedule_wrap .lines > * { font-size: 10px; font-family: 'NanumSquareB'; color: #333333; display: flex; align-items: center; }
.wrap_sub .sec_cal .schedule_wrap .lines > *:not(:last-of-type) { padding-bottom: 53px; }
.wrap_sub .sec_cal .schedule_wrap .lines > *::after { content: ''; display: inline-block; width: 100%; height: 1px; background: #e5e5e5; margin-left: 16px; }
.wrap_sub .sec_cal .schedule_wrap .dates { position: absolute; top: 42px; right: 0; width: calc(100% - 39px); height: calc(100% - 47px); padding: 0 3px; z-index: 1; }
.wrap_sub .sec_cal .schedule_wrap .dates li { display: inline-flex; width: 100%; height: calc(100% / 30 - 10px); border-radius: 10px; font-size: 13px; line-height: 1.2; margin: 5px 0; padding: 0 15px; position: relative; justify-content: space-between; align-items: center; font-family: 'NanumSquareB';overflow: visible; }
.wrap_sub .sec_cal .schedule_wrap .dates li .new { width: 35px;height: 13px;border-radius: 6.5px;border: 1px solid #f18e1e;font-size: 8px;color: #f18e1e;position: absolute;top: 6.5px;left: -42px;line-height: 13px;display: flex;justify-content: center;text-transform: uppercase;}
.wrap_sub .sec_cal .schedule_wrap .dates li.available { color: #ffffff; }
.wrap_sub .sec_cal .schedule_wrap .dates li.available.edu { background: #f49baa; }
.wrap_sub .sec_cal .schedule_wrap .dates li.available.cs { background: #9ed363; }
.wrap_sub .sec_cal .schedule_wrap .dates li.available p span { display: block; color: rgba(255, 255, 255, .5); font-size: 10px; padding-bottom: 7px; }
.wrap_sub .sec_cal .schedule_wrap .dates li.available p span > i::before { content:''; display: inline-block; width: 1px; height: 7px; background: #fff; opacity: .5; margin-right: 6px; }
.wrap_sub .sec_cal .schedule_wrap .dates li.available p span > i { color: #fff; letter-spacing: -.5px; }
.wrap_sub .sec_cal .schedule_wrap .dates li.available p i { padding-left: 7px; }
.wrap_sub .sec_cal .schedule_wrap .dates li.disable { background: #f1f1f1; color: #999999; }
.wrap_sub .sec_cal .schedule_wrap .dates li.disable button { background: #cfcfcf; }
.wrap_sub .sec_cal .schedule_wrap .dates li.empty { justify-content: flex-end; }
.wrap_sub .sec_cal .schedule_wrap .dates li.empty button { background: #f18e1e url(../images/common/sked_icon03.png) 50% 50% no-repeat; background-size: 11px 11px;}
.wrap_sub .sec_cal .schedule_wrap .dates li div { display: flex; }
/* .wrap_sub .sec_cal .hpc_wrap li div { display: flex; } */
.wrap_sub .sec_cal .schedule_wrap .dates li a,
.wrap_sub .sec_cal .hpc_wrap li a,
.wrap_sub .sec_cal .schedule_wrap .dates li button,
.wrap_sub .sec_cal .hpc_wrap li button { width: 30px; height: 30px; position: relative; border-radius: 100%; display: flex; align-items: center; }
.wrap_sub .sec_cal .schedule_wrap .dates li a:not(:first-of-type),
.wrap_sub .sec_cal .hpc_wrap li a:last-of-type,
.wrap_sub .sec_cal .schedule_wrap .dates li button:not(:first-of-type),
.wrap_sub .sec_cal .hpc_wrap li button:last-of-type { margin-left: 8px; }
.wrap_sub .sec_cal .schedule_wrap .dates li a img,
.wrap_sub .sec_cal .hpc_wrap li a img,
.wrap_sub .sec_cal .schedule_wrap .dates li button img,
.wrap_sub .sec_cal .hpc_wrap li button img { height: calc(100% - 14px); object-fit: contain; }
.wrap_sub .sec_cal .schedule_wrap .dates li.available a,
.wrap_sub .sec_cal .schedule_wrap .dates li.available button { border: 1px solid #ffffff; }
.wrap_sub .sec_cal .schedule_wrap .dates li.available .not_registered { opacity: 0.3; }
.wrap_sub .sec_cal .schedule_wrap .dates li[data-type="row-2"] { height: calc(100% / 15 - 10px); }
.wrap_sub .sec_cal .schedule_wrap .dates li[data-type="row-3"] { height: calc(100% / 10 - 10px); } /* 더 필요할 경우 칸 추가 */
.wrap_sub .sec_cal .schedule_wrap .dates li[data-type="blind"] { display: none; visibility: hidden; }
.wrap_sub .sec_cal .hpc_wrap { margin-top: 40px; }
.wrap_sub .sec_cal .hpc_wrap .alert01 { padding-bottom: 15px; border-bottom: 1px solid #727272; }
.wrap_sub .sec_cal .hpc_wrap li { padding: 15px; border-bottom: 1px solid #e5e5e5; }
.wrap_sub .sec_cal .hpc_wrap li .today_hpc,
.wrap_sub .sec_cal .hpc_wrap li .cancelled_sch { display: flex;align-items: center;justify-content: space-between; }
.wrap_sub .sec_cal .hpc_wrap li .btn_wrap { max-width: 136px;display: flex;align-items: center;margin-left: auto; }
.wrap_sub .sec_cal .hpc_wrap li .today_hpc .info {}
.wrap_sub .sec_cal .hpc_wrap li p { font-size: 13px; color: #333333; font-family: 'NanumSquareB';display: flex;flex-wrap: wrap;align-items: center; }
.wrap_sub .sec_cal .hpc_wrap li .hospital { font-family: 'NanumSquareR';font-size: 11px; color: #999999; }
.wrap_sub .sec_cal .hpc_wrap li .phone { font-family: 'NanumSquareR';font-size: 11px; color: #727272;margin-left: 8px; }
.wrap_sub .sec_cal .hpc_wrap li .type { font-size: 11px; }
.wrap_sub .sec_cal .hpc_wrap li .time { font-size: 11px;font-family: 'NanumSquareR'; }
.wrap_sub .sec_cal .hpc_wrap li p+p { margin-top: 6px; }
.wrap_sub .sec_cal .hpc_wrap li .cancelled_sch .time::after { content: ''; display: inline-block; width: 1px; height: 10px; background: #e5e5e5; margin: 0 10px; vertical-align: middle; }
.wrap_sub .sec_cal .hpc_wrap li a,
.wrap_sub .sec_cal .hpc_wrap li button { border: 1px solid #f18e1e; }
.wrap_sub .sec_cal .hpc_wrap li .not_registered {opacity: 0.3;}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrap_sub .schedules .sec_cal .cal_nav .year-month { width: 63vw; }

}

/* 상담일정관리 - 상담이력등록 */
.wrap_sub .con_sub .con_flex { display: flex; align-items: center; }
.wrap_sub .con_sub .info_box { padding: 30px 15px 25px; background: #fff; }
.wrap_sub .con_sub .con_box .con_tit { font-family: 'NanumSquareEB'; font-size: 13px; color: #f18e1e; }
.wrap_sub .con_sub .con_box .con_tit::after { content:''; display: block; width: 100%; height: 1px; background: #f18e1e; margin-top: 8px; }
.wrap_sub .con_sub .con_box .tb_tit { font-family: 'NanumSquareEB'; font-size: 13px; color: #f18e1e; margin-bottom: 15px; }
.wrap_sub .con_sub .info_box h2 { font-size: 18px; font-family: 'NanumSquareB'; color: #f18e1e; letter-spacing: -1px; padding-bottom: 15px; }
.wrap_sub .con_sub .info_box .con_tit { margin-bottom: 20px; }
.wrap_sub .con_sub .info_box>ul { display: flex; flex-wrap: wrap; align-items: center; margin-bottom: 20px; font-size: 13px; }
.wrap_sub .con_sub .info_box ul li { width: 50%; display: flex; }
.wrap_sub .con_sub .info_box ul li+li { margin-top: 7px; }
.wrap_sub .con_sub .info_box ul li:nth-child(2n-1) .tit { max-width: 73px; width: 43%; }
.wrap_sub .con_sub .info_box ul li:nth-child(2n) .tit { max-width: 85px; width: 50%; }
.wrap_sub .con_sub .info_box ul li .tit { font-family: 'NanumSquareB'; color: #999; }
.wrap_sub .con_sub .info_box ul li .value { color: #333; }
.wrap_sub .con_sub .form_box { padding: 30px 15px 0; background: #fff; }
.wrap_sub .con_sub .form_box02 { padding: 30px 15px 25px; }
.wrap_sub .con_sub .form_box .tit { font-family: 'NanumSquareB'; margin: 20px 0 10px; }
.wrap_sub .con_sub .form_box .con_form { width: 100%; font-size: 13px; }
.wrap_sub .con_sub .form_box .con_form_info { display: flex; padding-top: 20px; letter-spacing: -1px; justify-content: space-between; }
.wrap_sub .con_sub .form_box .con_form_info li:last-child { width: calc(50% - 7.5px); }
.wrap_sub .con_sub .form_box .con_form_info li .tit { margin: 0 0 9px; }
.wrap_sub .con_sub .form_box .con_form_info li p { font-size: 12px; font-family: 'NanumSquareR'; }
.wrap_sub .con_sub .con_flex { justify-content: space-between; }
.wrap_sub .con_sub .con_flex h4 { font-size: 13px; }
.wrap_sub .con_sub .con_flex p { font-size: 12px; letter-spacing: -1px; color: #333333; }
.wrap_sub .con_sub .form_box .con_flex > div { width: calc(50% - 7.5px); }
.wrap_sub .con_sub .form_box .con_date { display: flex; align-items: center; justify-content: space-between; }
.wrap_sub .con_sub .form_box .con_date .hypen { display: block; }
.wrap_sub .con_sub .form_box .con_date .inputBox_DP { width: calc(50% - 12.5px); height: auto; }
.wrap_sub .con_sub .form_box .con_date .inputBox_DP input { height: 40px; }
.wrap_sub .con_sub .form_box .con_flex .inputBox_DP { width: 100%; }
.wrap_sub .con_sub .form_box .consultDate_form { display: none; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrap_sub .con_sub .form_box02 { padding: 30px 15px 50px; }
}

/* 상담일정관리 - 해피콜등록 */
.happycall { background: #fff; padding-bottom: 100px; }
.happycall .srh_box .con_flex .input_srh:first-of-type { width: calc(41% - 2.5px); }
.happycall .srh_box .con_flex .input_srh:nth-of-type(2) { width: calc(59% - 2.5px); }
.happycall .con_head .date_tit { font-family: 'NanumSquareEB'; font-size: 23px; color: #333; letter-spacing: -2.7px; text-align: center; padding: 35px 0; }
.happycall .con_head p { font-family: 'NanumSquareB'; font-size: 18px; color: #333; letter-spacing: -1.8px; }
.happycall .con_list03>ul>li { padding: 41px 15px 15px; /* cursor: pointer; */ }
.happycall .con_list03>ul>li:hover { background: rgba(241, 142, 30, .05); }

.happycall .con_list03>ul>li {display: flex;}
.happycall .con_list03>ul>li>a { width: 60%; }
.happycall .con_list03>ul>li>a>div:last-child { text-align: left;width: 40%; }
.happycall .con_list03>ul>li>a>div .lblbox { position: absolute; top: -26px; left: 0; cursor: default; }
.happycall .con_list03>ul>li>a>div>ul { display: flex; align-items: center; color: #727272; font-size: 11px; }
.happycall .con_list03>ul>li>a>div>ul>li::after { content:''; display: inline-block; width: 1px; height: 10px; background: #e5e5e5; margin: 0 10px -2px; }
.happycall .con_list03>ul>li>a>div>ul>li:last-child::after { display: none; }
.happycall .con_list03>ul>li>a>div>ul .name { font-family: 'NanumSquareB'; font-size: 13px; color: #333; }
.happycall .con_list03>ul>li>a>div .idbox { color: #727272; line-height: 1; margin-top: 10px; }
.happycall .con_list03>ul>li>div { text-align: right; width: 40%; }
.happycall .con_list03>ul>li>div>a {display: inline-block;}
.happycall .con_list03>ul>li>div .hospital { font-size: 11px; color: #999; }
.happycall .con_list03>ul>li>div .phone { font-size: 11px; letter-spacing: -1.1px; }
.happycall .con_list03>ul>li>div .phone::before { content:''; display: inline-block; margin: 10px 7px 0 0; width: 9px; height: 10px; background: url(../images/common/icon_phone.png) no-repeat; background-size: contain; }
.happycall .con_box .con_inner03 .paging { padding-bottom: 31px; }

.happycall .con_box h4 { font-size: 13px; }
.happycall .con_box .info01 { padding: 30px 15px; background: #fff; position: relative; }
.happycall .con_box .info01::after { content: ''; display: block; width: calc(100% - 30px); height: 1px; background: #e5e5e5; position: absolute; bottom: 0; left: 15px; }
.happycall .con_box .info01 ul { display: flex; flex-wrap: wrap; padding: 15px 12px; margin-top: 10px; background: #f6f6f6; border-radius: 5px; }
.happycall .con_box .info01 ul li { font-family: 'NanumSquareB'; font-size: 13px; line-height: 1.5; }
.happycall .con_box .info01 ul .date { color: #999; font-size: 11px; line-height: 1.85; }
.happycall .con_box .info01 ul .phone { letter-spacing: -0.7px; }
.happycall .con_box .info01 ul li::after { content:''; display: inline-block; width: 1px; height: 10px; background: #e5e5e5; margin: 0 8px; line-height: 1.3; vertical-align: middle; }
.happycall .con_box .info01 ul .name::after,
.happycall .con_box .info01 ul li:last-of-type::after { display: none; }
.happycall .con_box .con_form { margin-top: 10px; }
.happycall .con_box #appylyContent { display: none; }
.happycall .con_box .info02 { padding: 30px 0 25px; }
.happycall .con_box .info02 > span { display: block; margin-top: 15px; font-size: 13px; }
.happycall .con_box .info02 > span::before { content:''; display: inline-block; width: 3px; height: 3px; background: #f18e1e; border-radius: 50%; vertical-align: middle; margin-right: 7px; margin-top: -2px; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .happycall { padding-bottom: 125px; }
}


/*/////////////////////////////////////////////////////////////////////////
///////////                  ** 상담가능일정관리 **                 ///////
/////////////////////////////////////////////////////////////////////////*/

/* 상담가능일정관리 - 캘린더 */
.wrap_sub .sec_cal .register { margin-bottom: 25px; }
.wrap_sub .sec_cal .current .schedule.pos_block { bottom: 23.5px; background: #f18e1e; }
.wrap_sub .sec_cal .current .schedule.impos_block { bottom: 6px; background: #6e6e6e; }

/* 상담가능일정관리 - 시간별 */
.wrap_sub .register .sec_cal { padding: 35px 0 57px; overflow: hidden; }
.wrap_sub .register .sec_cal .cal_nav .year-month { width: 157.5px; }
.wrap_sub .register .sec_cal .time_wrap { position: relative; height: 375px; margin: 30px 0 25px 15px; overflow: scroll; }
/*
.wrap_sub .register .sec_cal .time_wrap > span { background: #ffffff; display: inline-block; position: absolute; top: 1px; left: 0; z-index: 9; font-size: 15px; font-family: 'NanumSquareEB'; height: 47.5px; width: 18.7vw; display: flex; align-items: center; justify-content: center; border-width: 0 1px 1px 0; border-style: solid; border-color: #333333 #eeeeee #eeeeee transparent; }
*/
.wrap_sub .register .sec_cal .time_wrap table { width: calc((25.75vw * var(--dn)) + 18.7vw); position: relative; margin-right: 15px; }
.wrap_sub .register .sec_cal .time_wrap table tr { height: 47.5px; }
.wrap_sub .register .sec_cal .time_wrap table tr th,
.wrap_sub .register .sec_cal .time_wrap table tr td { background: #ffffff; width: 25.75vw; height: inherit; display: inline-flex; align-items: center; justify-content: center; border: 1px solid #eeeeee;  border-width: 0 1px 1px 0;}
.wrap_sub .register .sec_cal .time_wrap table tr th,
.wrap_sub .register .sec_cal .time_wrap table tr td:last-child { border-width: 0 0 1px 0; }
.wrap_sub .register .sec_cal .time_wrap table thead { position: sticky; top: 0; width: 100%; z-index: 1; }
/*.wrap_sub .register .sec_cal .time_wrap table thead tr { position: relative; }*/
.wrap_sub .register .sec_cal .time_wrap table thead tr th { height: inherit; font-size: 15px; font-weight: normal; font-family: 'NanumSquareEB'; border-width: 1px 1px 1px 0; border-color: #333333 #eeeeee #eeeeee transparent; }
.wrap_sub .register .sec_cal .time_wrap table thead tr th.cross_tit { background: #ffffff; display: inline-flex; font-size: 15px; font-family: 'NanumSquareEB'; border-width: 1px 1px 1px 0; border-style: solid; border-color: #333333 #eeeeee #eeeeee transparent; }
.wrap_sub .register .sec_cal .time_wrap table thead tr th.past_date { background: #f6f6f6; }
.wrap_sub .register .sec_cal .time_wrap table thead tr th:first-child { width: 18.7vw; }
.wrap_sub .register .sec_cal .time_wrap table thead tr th span { font-family: 'NanumSquareR'; margin-left: 4px; }
.wrap_sub .register .sec_cal .time_wrap table tbody { /*padding-left: 18.7vw; margin-top: 47.5px;*/ display: inline-block; }
.wrap_sub .register .sec_cal .time_wrap table tbody tr td.moveL { width: 18.7vw; /*position: absolute; left: 0;*/ font-size: 14px; }
.wrap_sub .register .sec_cal .time_wrap table tbody tr td.past_time { background: #f6f6f6; }
.wrap_sub .register .sec_cal .time_wrap table tbody tr td button { width: 72px; height: 30px; border-radius: 15px; line-height: 29px; }
.wrap_sub .register .sec_cal .time_wrap table tbody tr td button::after { display: block; font-size: 14px; font-family: 'NanumSquareR'; }
.wrap_sub .register .sec_cal .time_wrap table tbody tr td button[data-type="0"] { border: 1px solid #f18e1e; color: #f18e1e; }
.wrap_sub .register .sec_cal .time_wrap table tbody tr td button[data-type="0"].on { background: #f18e1e; }
.wrap_sub .register .sec_cal .time_wrap table tbody tr td button[data-type="1"] { border: 1px solid #13bfd6; color: #13bfd6; pointer-events: none; }
.wrap_sub .register .sec_cal .time_wrap table tbody tr td button[data-type="7"].on { background: #999999; }
.wrap_sub .register .sec_cal .time_wrap table tbody tr td button:not([data-type="0"], [data-type="1"]) { border: 1px solid #999999; color: #999999; font-size: 12px; }
.wrap_sub .register .sec_cal .time_wrap table tbody tr td button:not([data-type="0"], [data-type="1"], [data-type="7"]).on { background: #79bd28; color: #ffffff; border: 1px solid #79bd28; }
.wrap_sub .register .sec_cal .time_wrap table tbody tr td button em {font-size: 10px;}
.wrap_sub .register .sec_cal .time_wrap table tbody tr td button.on  { color: #ffffff; }
.wrap_sub .register .sec_cal .time_wrap table thead tr th:first-child,
.wrap_sub .register .sec_cal .time_wrap table tbody tr td:first-child { position: sticky; left: 0; }
.wrap_sub .register .sec_cal .btn_box02 { padding: 0 15px; }
.wrap_sub .register .sec_cal .btn_box02 .btn_gray a { pointer-events: none; }
.wrap_sub .register .sec_cal .btn_box02 > div:first-child { float: left; }
.wrap_sub .register .sec_cal .btn_box02 > div:last-child { float: right; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrap_sub .sec_cal .current .schedule.pos_block { bottom: 37px; }
  .wrap_sub .sec_cal .current .schedule.impos_block { bottom: 12px; }

  .wrap_sub .sec_cal .register { margin-bottom: 50px; }
  .wrap_sub .register .sec_cal .cal_nav .year-month { width: 187.5px; }
  .wrap_sub .register .sec_cal .time_wrap { height: 60vh; }
  .wrap_sub .register .sec_cal .time_wrap > span { height: 72.5px; width: 105px; } 
  .wrap_sub .register .sec_cal .time_wrap table { width: calc((105px * var(--dn)) + 105px); }
  .wrap_sub .register .sec_cal .time_wrap table tr { height: 72.5px; }
  .wrap_sub .register .sec_cal .time_wrap table tr th,
  .wrap_sub .register .sec_cal .time_wrap table tr td,
  .wrap_sub .register .sec_cal .time_wrap table thead tr th:first-child { width: 105px; }
/*  .wrap_sub .register .sec_cal .time_wrap table tbody { padding-left: 105px; margin-top: 72.5px; }*/
  .wrap_sub .register .sec_cal .time_wrap table tbody tr td.moveL { width: 105px; }
}


/*/////////////////////////////////////////////////////////////////////////
///////////                     ** 회원관리 **                      ///////
/////////////////////////////////////////////////////////////////////////*/

/* 회원관리 */
.con_sub01 .ipt_box .inner+.inner .info02 { position: relative; padding-top: 65px; }
.con_sub01 .ipt_box .inner+.inner .info02::before { content:''; display: block; width: 100%; height: 1px; background: url(../images/common/dashed_border.jpg) repeat-x; background-size: contain; position: absolute; top: 35px; left: 0; }

/* 회원관리 - 상세 */
.con_sub .child_info { float: right; margin-top: -3px; letter-spacing: -1px; display: flex; align-items: center; line-height: 1; }
.con_sub .child_info img { width: 25px; }
.con_sub .child_info span { font-size: 12px; margin-left: 10px; color: #333333; position: relative; z-index: 1; }
.con_sub .child_info span::before { content: ''; display: block; position: absolute; width: 69px; height: 7px; background: #79bd28; z-index: -1; bottom: -2px; left: -2px; }
.con_sub .child_info span b { font-family: 'NanumSquareEB'; }
.con_sub .child_info i { color: #999999; font-size: 12px; padding-left: 9.5px; font-family: 'NanumSquareR'; }

.con_sub .ipt_box .pre_subtit { padding: 10px 0 15px 0; }
.con_sub .tb .shrink0+.inputBox_DP { width: 75%; }
.con_sub .tb .shrink0 { font-family: 'NotoSansR'; font-weight: 200; font-size: 13px; letter-spacing: -1px; padding-left: 8px; color: #333333; min-width: 55px; }
.con_sub01 .tb .inputBox_DP+.checkbox_row input[type="checkbox"]:checked + label:before { content:''; background: url("../images/common/bg_check_green_on.png") 50% 50% no-repeat; background-size: cover; }
.con_sub01 .tb .inputBox_DP+.checkbox_row label { margin-right: 0; }

.con_sub .input_physics { float: left; display: block; position: relative; padding: 0 10px; width: 35%; height: 40px; line-height: 40px; margin-right: 30px; background: #fff; border: 1px solid #e9e9e9; border-radius: 5px; vertical-align: middle; }
.con_sub .input_physics .physic { float: left; width: auto; display: block; height: 40px; line-height: 42px; text-align: center; position: absolute; font-size: 12px; right: -25px; top: 0; }
.con_sub .input_physics .input_box { position: relative; display: block; width: 100%; overflow: hidden; }
.con_sub .input_physics .input_box .ipt { position: relative; width: 100%; height: 100%; border: none; font-size: 13px; line-height: 1.2; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.con_sub .cont .input_row + .unit { display: inline-block; margin: 0 5px 0 10px; font-size: 12px; }

/* 회원관리 - 상세 - 탈퇴회원 */
.con_sub.withdrawal .tb04 button[type="date"]::before { content: attr(data-placeholder); }

/* 회원관리 - 상세 - 휴면회원 */
.con_sub.dormancy {  }

/* 회원관리 - 상세 - 반려회원 */
.con_sub.refer {  }

/* 회원관리 - 상세 - 탈퇴요청 */
.con_sub.requestWdrwl {  }


/* 상담관리 - 상담이력목록 */
.con_sub .list_box .con_flex .con_head { width: 100%; font-family: 'NanumSquareB'; font-size: 18px; color: #333; letter-spacing: -1.8px; }
.con_sub .list_box .con_flex .con_head .child_info { margin-left: auto; }
.con_sub .list_box .con_flex .con_head  .search_total { display: inline-block; font-size: 13px; color: #333; }
.con_sub .list_box .child_list>ul>li>a { display: block; }
.con_sub .list_box .child_list>ul>li>a>div { display: block; font-family: 'NanumSquareB'; color: #333; }
.con_sub .list_box .child_list>ul>li>a>div:first-child { display: inline-block; }
.con_sub .list_box .child_list>ul>li>a>div .lblbox { min-width: 50px; width: auto; padding: 4px 5px; }
.con_sub .list_box .child_list>ul>li>a>div+div { margin-top: 10px; }
.con_sub .list_box .child_list>ul>li>a>div:nth-of-type(2)>div { /* display: inline-block; */ float: left; min-width: 50%; }
.con_sub .list_box .child_list>ul>li>a>div:nth-of-type(2)::after { content:''; display: block; clear: both; } 
.con_sub .list_box .child_list>ul>li>a>div:last-child { width: 100%; text-align: left; font-family: 'NanumSquareR'; color: #999; }
.con_sub .list_box .btn_bottom { width: calc(100% - 30px); left: 15px; }

.con_sub .list_box { padding: 35px 15px 125px; background: #fff; box-sizing: content-box; }
.con_sub .list_box .con_flex+.con_list { margin-top: 12px; }
.con_sub .list_box .con_list+.con_flex { margin-top: 40px; }
.con_sub .list_box .search_name{  display: inline-block; width: 70px; height: 22px; line-height: 22px; background: rgba(121, 189, 40, .1); border-radius: 11px; text-align: center; }
.con_sub .list_box .search_total { display: inline-block; }
.con_sub .list_box .search_total > span { color: #79bd28; }
.con_sub .list_box .search_total > span > b { font-family: 'NanumSquareEB'; font-size: 16px; line-height: 1.2; }
.con_sub .list_box .con_list>ul>li>a { font-size: 13px; }

/* 상담관리 - 상담이력 */
.con_sub.consultHistory .tb table tbody td.cont p { font-size: 12px; padding-left: 0; letter-spacing: -1px; }
.con_sub.consultHistory .tb .input_physics  { width: 85%; }
.con_sub.consultHistory .tb .inputBox_DP { width: 100%; }
.con_sub.consultHistory .tb .hpc_date { font-size: 12px; color: #79bd28; }

.con_sub .ipt_box .inner .tb .hpc_date { font-size: 12px; color: #f18e1e; margin-top: 10px; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .con_sub .list_box { padding: 35px 15px 150px; }
}

/*/////////////////////////////////////////////////////////////////////////
///////////                     ** 물품관리 **                      ///////
/////////////////////////////////////////////////////////////////////////*/
.con_sub .search_box .srh_box .con_flex > p { width: 56px; flex-shrink: 0; font-size: 12px; }
.con_sub .search_box .srh_box .con_flex .date_box .hypen { padding: 0 15px; }
.wrap_sub03 .pop_search .pop_con .search_area .search_ipt .btn_search,
.wrap_sub03 .pop_search_doctor .pop_con .search_area .search_ipt .btn_search { background: #fc637d; }

/*/////////////////////////////////////////////////////////////////////////
///////////                 ** 로그인 - 단계인증 **                  ///////
/////////////////////////////////////////////////////////////////////////*/
.con_login { min-height: 100vh; padding: 0 15px 25px; position: relative; }
.con_login .logo { padding: 100px 0 25px; text-align: center; }
.con_login .logo img { width: 206px; }
.con_login .authentic_cont { padding: 0 20px 100px 20px; }
.con_login .authentic_cont > p { font-size: 13px; text-align: center; color: #727272; }
.con_login .authentic_cont > p > b { font-family: 'NanumSquareEB'; color: #79bd28; display: block; margin-bottom: 9px; }
.con_login .authentic_cont .input_row { padding: 0 15px; height: 50px; line-height: 50px; border: 1px solid #cfcfcf; margin: 40px auto 0; max-width: 610px; }
.con_login .authentic_cont .input_row:hover { border: 1px solid #333; }
.con_login .authentic_cont .input_row .ipt { font-family: 'NanumSquareB'; font-size: 13px; color: #333; }
.con_login .authentic_cont .input_row .timer { font-family: 'NanumSquareB'; font-size: 13px; color: #333; position: absolute; top: 0; right: 0; }
.con_login .authentic_cont .input_row + .alert_txt { font-size: 12px; color: #79bd28; margin: 10px auto 0; max-width: 610px; }
.con_login .btn_box { position: absolute; bottom: 25px; width: calc(100% - 30px); }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .con_login .logo { padding: 200px 0 25px; }
  .con_login .btn_box { bottom: 70px; }
}