@charset "utf-8";

@font-face {
    font-family: 'NanumSquareR';
    font-weight: normal;
    font-style: normal;
    src: url('../font/NanumSquareR.eot');
    src: url('../font/NanumSquareR.eot?#iefix') format('embedded-opentype'),
         url('../font/NanumSquareR.woff') format('woff');
}

@font-face {
    font-family: 'NanumSquareEB';
    font-weight: normal;
    font-style: normal;
    src: url('../font/NanumSquareEB.eot');
    src: url('../font/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
         url('../font/NanumSquareEB.woff') format('woff');
}

@font-face {
    font-family: 'NanumSquareB';
    font-weight: normal;
    font-style: normal;
    src: url('../font/NanumSquareB.eot');
    src: url('../font/NanumSquareB.eot?#iefix') format('embedded-opentype'),
         url('../font/NanumSquareB.woff') format('woff');
}

@font-face {
    font-family: 'NanumSquareL';
    font-weight: normal;
    font-style: normal;
    src: url('../font/NanumSquareL.eot');
    src: url('../font/NanumSquareL.eot?#iefix') format('embedded-opentype'),
         url('../font/NanumSquareL.woff') format('woff');
}

@font-face {
    font-family: 'NotoSansR';
    font-weight: normal;
    font-style: normal;
    src: url('../font/NotoSansCJKkr-Regular.eot');
    src: url('../font/NotoSansCJKkr-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/NotoSansCJKkr-Regular.woff') format('woff');
}
