@charset "utf-8";

/*=============================================
=                   ##RESET                   =
=============================================*/
* {margin:0; padding:0; box-sizing:border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, hgroup, header, footer, figure, figcaption, nav, section { margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent; }
article, aside, hgroup, header, footer, figure, figcaption, nav, section {display:block;}
html, body {width:100%; height:100%; font-size:15px; font-family:'NanumSquareR','맑은 고딕','Malgun Gothic',sans-serif; color:#000; line-height:1; font-weight:normal;-webkit-font-smoothing: antialiased;}
body {overflow-x:hidden;}
h1, h2, h3, h4, h5, h6 {font-weight:normal; line-height:1; word-break: keep-all;}
fieldset {border:none;}
ol, li {list-style:none; overflow:hidden; zoom:1;}
span, p, a, div, em {word-break: break-all;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';}
table {border-collapse:collapse; border-spacing:0; table-layout:fixed;}
button {margin:0; padding:0; border:0; font:inherit; color:inherit; background:transparent; overflow:visible; cursor:pointer; line-height:1;}
img {max-width:100%; width:100%;}
a {color:#221e1f;}
a:link, a:visited, a:hover, a:active, a:focus {text-decoration:none;}
legend, caption {display:none;}
textarea {resize:vertical; font:inherit; overflow-y:auto;}
input, select {color:inherit; font:inherit; color:#333;}
button, input, select, textarea {vertical-align:top; font-family:inherit; outline-style:none;}
label {vertical-align:middle; cursor:pointer;}
address, i, em {display:inline; font-style:normal; zoom:1;}
table {width:100%; border-collapse:collapse; table-layout:fixed;}
img, select, input, button {vertical-align:middle;}
br {font-family:dotum !important;}
input[type=password] {font-family:'맑은 고딕','Malgun Gothic',sans-serif;}
input[type="text"]:disabled {background: #fff;}

/*=============================================
=                   ##COMMON                  =
=============================================*/
.wrap {position: relative;width: 100%;}
.inner {margin: 0 auto;padding: 0 15px;}
.blind {display: none !important;}
.ellipsis {text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;width:100%;overflow:hidden;}
.not_scroll {position: fixed;overflow:hidden;}
.mt4 {margin-top: 4px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mt40 {margin-top: 40px;}
.mt50 {margin-top: 50px;}

/*=============================================
=                   ##HEADER                  =
=============================================*/
.header {position: relative;width: 100%;background: #fff;z-index: 10;}
.header .header_inner {padding: 0 15px;height: 50px;}
.header .header_inner:after {content: "";display: block;clear: both;}
.header .logo {margin: 0 auto;padding-top: 11px;width: 66px;}
.header .menu {position: absolute;left: 15px;top: 16px;width: 21px;}
.header .end {position: absolute;right: 15px;top: 12.5px;width: 25px;}
.header .menu a,
.header .end a {display: block;width: 100%;height: 100%;}
.header02 {background: #79bd28;}
.header02 .title {font-family: 'NanumSquareB';font-size: 18px;color: #fff;text-align: center;line-height: 50px;}
.header .gnb_box {display: none;}
.header .gnb_box {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.6);}
.header .gnb_box .gnb_close {position: absolute;width: 30px;height: 30px;left: 310px;top: 10px;}
.header .gnb_box .gnb_bg {position: absolute;top: 0;left: -300px;background: #fff;width: 300px;height: 100%;}
.header .gnb_box .gnb_inner {position: relative;height: 100%;background: #f1f1f1;overflow-y: auto;}
.header .gnb_box .gnb_top {position: relative;padding: 0 15px;height: 50px;line-height: 50px;background: #79bd28;}
.header .gnb_box .gnb_top>ul:after {content: "";display: block;clear: both;}
.header .gnb_box .gnb_top>ul>li:first-child {float: left;width: 22px;background: url('../images/common/icon_myinfo.png') no-repeat;background-size: 22px 22px;background-position: 0 50%;font-size: 0;text-indent: -9999px;margin-right: 20px;}
.header .gnb_box .gnb_top>ul>li:nth-child(2) {float: left;width: 12px;background: url('../images/common/icon_bluetooth.png') no-repeat;background-size: 12px 21px;background-position: 0 50%;font-size: 0;text-indent: -9999px;}
.header .gnb_box .gnb_top>ul>li:last-child {float: right;}
.header .gnb_box .gnb_top>ul>li>a {display: block;font-size: 13px;color: #fff;}
.header .gnb_box .gnb_sel {padding: 20px 15px;background: #fff;}
.header .gnb_box .gnb_sel>div {padding-bottom: 10px;font-family: 'NanumSquareB';font-size: 13px;}
.header .gnb_box .gnb_sel>ul:after {content: "";display: block;clear: both;}
.header .gnb_box .gnb_sel>ul>li {float: left;margin-top: 5px;margin-right: 4px;width: 87px;height: 30px;line-height: 30px;border: 1px solid #e5e5e5;border-radius: 5px;text-align: center;}
.header .gnb_box .gnb_sel>ul>li:first-child {margin-top: 0;}
.header .gnb_box .gnb_sel>ul>li:nth-child(2) {margin-top: 0;}
.header .gnb_box .gnb_sel>ul>li:nth-child(3) {margin-top: 0;}
.header .gnb_box .gnb_sel>ul>li:nth-child(3n) {margin-right: 0;}
.header .gnb_box .gnb_sel>ul>li>a {display: block;font-size: 12px;}
.header .gnb_box .gnb_sel>ul>li.active {border: 1px solid #79bd28;}
.header .gnb_box .gnb_sel>ul>li.active a {font-family: 'NanumSquareB';color: #79bd28;}
.header .gnb_box .gnb_menu {margin-top: 8px;padding: 30px 15px 45px 15px;background: #fff;}
.header .gnb_box .gnb_menu>.gnb_home>p {position: relative;display: inline-block;}
.header .gnb_box .gnb_menu>.gnb_home>p:after {content: "";display: block;position: absolute;left: 0;bottom: 3px;width: 100%;height: 5px;background: #79bd28;}
.header .gnb_box .gnb_menu>.gnb_home>p>span {position: relative;display: inline-block;font-family: 'NanumSquareB';font-size: 18px;z-index: 1;}
.header .gnb_box .gnb_menu>ul>li .gnb_tit {padding-top: 25px;}
.header .gnb_box .gnb_menu>ul>li .gnb_tit>a {font-family: 'NanumSquareB';font-size: 18px;}
.header .gnb_box .gnb_menu>ul>li .gnb_list>ul {padding-top: 15px;}
.header .gnb_box .gnb_menu>ul>li .gnb_list>ul>li {margin-bottom: 13px;}
.header .gnb_box .gnb_menu>ul>li .gnb_list>ul>li:last-child {margin-bottom: 0;}
.header .gnb_box .gnb_menu>ul>li .gnb_list>ul>li>a {display: block;padding: 1px 0;font-size: 13px;color: #727272;}
.header .gnb_box .gnb_award {background: #fff;margin-top: 8px;display: flex;align-items: center;padding: 20px 15px;}
.header .gnb_box .gnb_award .award_img {width: 60px;margin-right: 12px;}
.header .gnb_box .gnb_award .award_text {font-family: 'NanumSquareB';font-size: 12px;color: #333;}
.header .gnb_box .gnb_bot {padding: 0 15px;height: 50px;line-height: 50px;background: #f1f1f1;}
.header .gnb_box .gnb_bot>ul:after {content: "";display: block;clear: both;}
.header .gnb_box .gnb_bot>ul>li {float: left;position: relative;padding: 0 9px;}
.header .gnb_box .gnb_bot>ul>li:first-child {padding-left: 0;}
.header .gnb_box .gnb_bot>ul>li:after {content: "";display: block;position: absolute;right: 0;top: 50%;margin-top: -5px;width: 1px;height: 10px;background: #cfcfcf;}
.header .gnb_box .gnb_bot>ul>li:last-child:after {display: none;}
.header .gnb_box .gnb_bot>ul>li>a {display: block;font-size: 13px;color: #727272;letter-spacing: -1.04px;}
.header .gnb_box .gnb_bot>ul>li>a>b {font-family: 'NanumSquareB';color: #222;}

/*=============================================
=                   ##SUB TOP                 =
=============================================*/
.sub_top .nav {position: relative;width: 100%;background: #79bd28;}
.sub_top .nav .nav_inner {padding: 0 15px;height: 50px;}
.sub_top .nav .nav_inner:after {content: "";display: block;clear: both;}
.sub_top .nav .title {font-family: 'NanumSquareB';font-size: 18px;color: #fff;text-align: center;line-height: 50px;}
.sub_top .nav .back {position: absolute;left: 15px;top: 16px;width: 25px;}
.sub_top .nav .back a {display: block;width: 100%;height: 100%;}

.sub_top .tab {position: relative;width: 100%;}
.sub_top .tab ul:after {content: "";display: block;clear: both;}
.sub_top .tab ul>li {float: left;width: 33.33%;height: 50px;line-height: 50px;border-bottom: 2px solid #fff;box-sizing: border-box;}
.sub_top .tab ul>li.active {border-bottom: 2px solid #79bd28;}
.sub_top .tab ul>li>a {display: block;width: 100%;color: #666;text-align: center;}
.sub_top .tab ul>li.active>a {font-family: 'NanumSquareEB';color: #79bd28;}
.sub_top .tab.tab02 ul>li {width: calc(100% / 3);}

/* .sub_top .tab 메뉴 3개 이상일 경우 */
.sub_top .tab_slide { height: 52px; }
.sub_top .tab_slide > .inner { overflow-x: auto; overflow-y: hidden; position: absolute; top:0; left: 15px; width: calc(100% - 30px); height: 52px; padding: 0;  }
.sub_top .tab_slide ul { display: flex; width: fit-content; position: absolute; left: 0; top: 0; }
.sub_top .tab_slide ul>li { flex: initial; width: calc((100vw - 30px) / 3); flex-shrink: 0; }
.sub_top .tab_slide > .inner::-webkit-scrollbar { height: 2px; background: #f1f1f1; }
.sub_top .tab_slide > .inner::-webkit-scrollbar-thumb { background: #ccc; }

/* INPUT */
.input_row {position: relative;overflow: hidden;padding: 0 10px;width: 100%;height: 40px;line-height: 40px;background: #fff;border: 1px solid #e9e9e9;border-radius: 5px;}
.input_row .input_box {position: relative;display: block;width: 100%;overflow: hidden;}
.input_row .input_box input::placeholder {font-family: 'NanumSquareR';font-size: 12px;color: #999;}
.input_row .input_box .ipt {position: relative;width: 100%;height: 100%;border: none;font-size: 12px;line-height: 1.2;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.input_row .btn_chk {position: absolute;right: 0;top: 0;width: 60px;height: 100%;background: #cfcfcf;border-left: 1px solid #e9e9e9;z-index: 1;}
.input_row .btn_chk>a {display: block;width: 100%;height: 100%;font-family: 'NanumSquareB';font-size: 12px;color: #727272;text-align: center;}
.input_row02 {display:inline-block; *display:inline-block;width: 135px;vertical-align: middle;}

.input_tel {float: left;display: block;position: relative;overflow: hidden;padding: 0 10px;width: 30%;height: 40px;line-height: 40px;background: #fff;border: 1px solid #e9e9e9;border-radius: 5px;vertical-align: middle;}
.input_tel .input_box {position: relative;display: block;width: 100%;overflow: hidden;}
.input_tel .input_box input::placeholder {font-family: 'NanumSquareR';font-size: 12px;color: #999;}
.input_tel .input_box .ipt {position: relative;width: 100%;height: 100%;border: none;font-size: 13px;line-height: 1.2;-webkit-appearance: none;-moz-appearance: none;appearance: none;}

.input_addr {position: relative;overflow: hidden;padding: 0 10px;width: 100%;height: 40px;line-height: 40px;background: #fff;border: 1px solid #e9e9e9;border-radius: 5px;}
.input_addr .input_box {position: relative;display: block;width: 100%;overflow: hidden;}
.input_addr .input_box input::placeholder {font-family: 'NanumSquareR';font-size: 12px;color: #999;}
.input_addr .input_box .ipt {position: relative;padding-left: 85px;width: 100%;height: 100%;border: none;font-size: 13px;line-height: 1.2;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.input_addr .btn_addr {position: absolute;left: 0;top: 0;width: 85px;height: 100%;background: #cfcfcf;border-right: 1px solid #e9e9e9;z-index: 1;}
.input_addr .btn_addr>a {display: block;width: 100%;height: 100%;font-family: 'NanumSquareB';font-size: 12px;color: #727272;text-align: center;}
.addr_box02 .btn_addr {width: 85px;height: 40px;line-height: 40px;background: #cfcfcf;border-radius: 5px;}
.addr_box02 .btn_addr>a {display: block;width: 100%;height: 100%;font-family: 'NanumSquareB';font-size: 12px;color: #727272;text-align: center;}
.addr_box02>ul {margin-top: 4px;}
.addr_box02>ul>li {font-size: 13px;color: #333;line-height: 1.38;}

.input_search {position: relative;overflow: hidden;padding: 0 10px;width: 100%;height: 40px;line-height: 40px;background: #fff;border: 1px solid #e9e9e9;border-radius: 5px;}
.input_search .input_box {position: relative;display: block;width: 100%;overflow: hidden;}
.input_search .input_box input::placeholder {font-family: 'NanumSquareR';font-size: 12px;color: #999;z-index: 10;}
.input_search .input_box .ipt {position: relative;width: 100%;height: 100%;border: none;font-size: 12px;line-height: 1.2;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding-right: 15px;}
.input_search .btn_search {position: absolute;right: 0;top: 0;width: 100%;height: 100%;z-index: 20;}
.input_search .btn_search>a {display: block;width: 100%;height: 100%;background: url("../images/common/icon_search.png") no-repeat;background-size: 14px 15px;background-position: right 50%;}

.inputBox_DP {display:inline-block; *display:inline-block; position:relative; width:135px; height:40px; line-height:40px; zoom:1;}
.inputBox_DP.w100 {width: 100%;}
.inputBox_DP input {width:100%; height:100%; padding-left:12px; font-size:12px; color:#333; border:1px solid #e5e5e5; border-radius:5px; outline-style:none; -webkit-appearance:none; -moz-appearance:none; appearance:none; letter-spacing:-.5px;}
.inputBox_DP img {position:absolute; top:12px; right:15px; width:14px; cursor:pointer;}
input[type="date"] {appearance: none;-webkit-appearance: none;display: inline-block !important;visibility: visible !important;background:#fff url(../images/common/icon_schedule02.png) no-repeat;background-size: 14px 12px;background-position: calc(100% - 15px) 50%;}
input[type="date"]::-webkit-inner-spin-button {display: none;}
input[type="date"]::-webkit-calendar-picker-indicator {opacity: 0;}

.select_row {display:inline-block; *display:inline-block; position:relative; width:100%; height:40px; background: #fff; border:1px solid #e5e5e5; border-radius:5px; line-height:40px; zoom:1; -webkit-transition: border-color .5s ease-out; -moz-transition: border-color .5s ease-out; -o-transition: border-color .5s ease-out; transition: border-color .5s ease-out;}
.select_row:after {content: "";display: block;position: absolute;margin-top: -3px;top: 50%;right: 15px;width: 9px;height: 5px;background:url(../images/common/icon_sel.png) no-repeat; background-size: 100% 100%;}
.select_row label {position:absolute; top:0px; left:12px; font-size:12px; color:#333;}
.select_row select {width:100%; height:100%;padding:0 5px; opacity:0; filter:alpha(opacity=0);}
.select_row02 {width: 135px;}
.select_row03 {width: 110px;}

.select_tel {float: left;display: block; *display: block; position:relative; width: 30%; height:40px; border:1px solid #e5e5e5; border-radius:5px; line-height:40px; zoom:1; -webkit-transition: border-color .5s ease-out; -moz-transition: border-color .5s ease-out; -o-transition: border-color .5s ease-out; transition: border-color .5s ease-out;}
.select_tel:after {content: "";display: block;position: absolute;margin-top: -3px;top: 50%;right: 10px;width: 9px;height: 5px;background:url(../images/common/icon_sel.png) no-repeat; background-size: 100% 100%;}
.select_tel label {position:absolute; top:-1px; left:12px; font-size:12px; color:#333;}
.select_tel select {width:100%; height:100%;padding:0 5px; opacity:0; filter:alpha(opacity=0);}
.hyphen {float: left;display: block;width: 5%;height: 40px;line-height: 40px;text-align: center;}

.select_day_box {display: flex;justify-content: space-between;align-items: center;}
.select_day_box .select_day01 {float: left;display: block;width: 45%;}
.select_day_box .select_day02 {float: left;display: block;width: 45%;}
.select_day_box .day_txt {float: left;display: block;font-size: 10px;width: 8%;text-align: center;line-height: 40px;}
.select_day_box .select_row:after {right: 8px;}
.select_day_box .select_row label {left:8px;}

.checkbox_row {display:inline-block; *display:inline-block; position:relative; top:0; zoom:1;}
.checkbox_row.center {display: block;text-align: center;}
.checkbox_row.center input[type="checkbox"] + label {top: 0;}
.checkbox_row input[type="checkbox"] {display:none;}
.checkbox_row input[type="checkbox"] + label {display:inline-block; *display:inline-block; position: relative;top: 10px;cursor:pointer; zoom:1; padding-left: 25px; font-size: 12px;}
.checkbox_row input[type="checkbox"] + label:before {content:""; display:inline-block; *display:inline-block; width: 18px; height: 18px; position:absolute;top: -4px;left: 0;background: url("../images/common/bg_check.png") 50% 50% no-repeat;background-size: cover;zoom:1;}
.checkbox_row input[type="checkbox"]:checked + label:before {content:""; background: url("../images/common/bg_check_on.png") 50% 50% no-repeat;background-size: cover;}
.purple_checkbox_row input[type="checkbox"]:checked + label:before {background: url("../images/common/bg_check_on_purple.png") 50% 50% no-repeat;background-size: cover;}

.radio_row {display:inline-block; *display:inline-block; position:relative; zoom:1;}
.radio_row input[type="radio"] {display:none;}
.radio_row input[type="radio"] + label {display:inline-block; *display:inline-block; position:relative; top:0px; margin-right:20px; padding-left:25px; line-height:normal; font-family: 'NotoSansR'; color:#333; font-size:13px; cursor:pointer; zoom:1;}
.radio_row input[type="radio"] + label:before {content:""; display:inline-block; *display:inline-block; position:absolute; left:0; width:18px; height:18px; margin-right:8px; background: url("../images/common/bg_radio.png") 50% 50% no-repeat;background-size: 100%;vertical-align:top; zoom:1; }
.radio_row input[type="radio"]:checked + label:before {content:"";background:url("../images/common/bg_radio_on.png") 50% 50% no-repeat;background-size: 100%;}

.area_box {display:inline-block; *display:inline-block; position:relative; top:-1px; width:100%; height:150px; zoom:1;}
.area_box label {position:absolute; top:0; left:0; width:100%; height:100%; padding:14px 10px; cursor:text; font-size: 12px;color:#999;}
.area_box textarea {width:100%; height:100%; padding:14px 10px; line-height:1.4; border:1px solid #e9e9e9; border-radius:5px; font-size: 12px; -webkit-appearance: none; outline-style:none; resize: none;}

.filebox label {display: inline-block;width: 100%;height: 40px;line-height: 40px;background: #cfcfcf;border-radius: 5px;font-family: 'NanumSquareEB';color: #727272;text-align: center;font-size: 12px;}
.filebox input[type="file"] {position: absolute;width: 1px;height: 1px;overflow: hidden;clip:rect(0,0,0,0);}
.upload_field {display: none;position: relative;}
.upload_field .upload_del {display: block;position: absolute;top: 10px;right: 12px;width: 21px;height: 20px;}
.upload_name {position: relative;overflow: hidden;padding: 0 40px 0 10px;margin-bottom: 5px;width: 100%;height: 40px;line-height: 40px;background: #fff;border: 1px solid #e9e9e9;border-radius: 5px;font-size: 13px;}



.upload_field1 {display: none;position: relative;}
.upload_field1 .upload_del {display: block;position: absolute;top: 10px;right: 12px;width: 21px;height: 20px;}
.upload_name1 {position: relative;overflow: hidden;padding: 0 40px 0 10px;margin-bottom: 5px;width: 100%;height: 40px;line-height: 40px;background: #fff;border: 1px solid #e9e9e9;border-radius: 5px;font-size: 13px;}

.upload_field2 {display: none;position: relative;}
.upload_field2 .upload_del {display: block;position: absolute;top: 10px;right: 12px;width: 21px;height: 20px;}
.upload_name2 {position: relative;overflow: hidden;padding: 0 40px 0 10px;margin-bottom: 5px;width: 100%;height: 40px;line-height: 40px;background: #fff;border: 1px solid #e9e9e9;border-radius: 5px;font-size: 13px;}

.upload_field3 {display: none;position: relative;}
.upload_field3 .upload_del {display: block;position: absolute;top: 10px;right: 12px;width: 21px;height: 20px;}
.upload_name3 {position: relative;overflow: hidden;padding: 0 40px 0 10px;margin-bottom: 5px;width: 100%;height: 40px;line-height: 40px;background: #fff;border: 1px solid #e9e9e9;border-radius: 5px;font-size: 13px;}


.btn_box {text-align: center;}
.btn_box:after {content: "";display: block;clear: both;}
.btn_gray {display: inline-block;*display:inline-block;width: auto;height: 50px;line-height: 50px;background: #cfcfcf;border-radius: 5px;zoom:1;}
.btn_gray a,
.btn_gray button {display: block;width: 100%;height: 100%;font-family: 'NanumSquareEB';color: #727272;text-align: center;}
.btn_green {display: inline-block;*display:inline-block;width: auto;height: 50px;line-height: 50px;background: #79bd28;border-radius: 5px;zoom:1;}
.btn_green a,
.btn_green button {display: block;width: 100%;height: 100%;font-family: 'NanumSquareEB';color: #fff;text-align: center;}
.btn_orange {display: inline-block;*display:inline-block;width: auto;height: 50px;line-height: 50px;background: #f18e1e;border-radius: 5px;zoom:1;}
.btn_orange a,
.btn_orange button {display: block;width: 100%;height: 100%;font-family: 'NanumSquareEB';color: #fff;text-align: center;}
.btn_pink {display: inline-block;*display:inline-block;width: auto;height: 50px;line-height: 50px;background: #fc637d;border-radius: 5px;zoom:1;}
.btn_pink_txt {display:inline-block;width: auto;height: 50px;line-height: initial;background: #fc637d;border-radius: 5px;zoom:1;position: relative;}
.btn_pink_txt a,
.btn_pink a,
.btn_pink button {display: block;width: 100%;height: 100%;font-family: 'NanumSquareEB';color: #fff;text-align: center;}
.wrap_purple .btn_pink_txt,
.wrap_purple .btn_pink {background: #7d35b1;}
.btn_line {display: inline-block;*display:inline-block;width: auto;height: 40px;line-height: 40px;background: #fff;border: 1px solid #e5e5e5;border-radius: 5px;zoom:1;}
.btn_line a,
.btn_line button {display: block;width: 100%;height: 100%;font-size: 12px;color: #333;text-align: center;}
.btn_line_green {display: inline-block;*display:inline-block;width: auto;height: 50px;line-height: 50px;border: 1px solid #79bd28;border-radius: 5px;zoom:1;}
.btn_line_green a,
.btn_line_green button {display: block;width: 100%;height: 100%;font-family: 'NanumSquareEB';color: #79bd28;text-align: center;}
.btn_arrow {display: inline-block;padding-right: 28px;height: 21px;line-height: 21px;font-family: 'NanumSquareB';font-size: 11px;background: url('../images/common/icon_btn01.png') no-repeat;background-size: 21px 21px;background-position: right 50%;}
.btn_my_arrow {display: inline-block;padding: 5px 11px 5px 0;font-family: 'NanumSquareB';font-size: 11px;background: url('../images/common/arrow_b_right.png') no-repeat;background-size: 6px 10px;background-position: right 5px;}
.btn_yellow {display: inline-block;*display:inline-block;width: auto;height: auto;line-height: auto;background: #ffb412;border-radius: 5px;zoom:1;}
.btn_yellow a,
.btn_yellow button {display: block;width: 100%;height: 100%;font-family: 'NanumSquareEB';color: #fff;text-align: center;}
.btn_purple {display: inline-block;*display:inline-block;width: auto;height: auto;line-height: auto;background: #a357ef;border-radius: 5px;zoom:1;}
.btn_purple2 {background: #7d35b1;}
.btn_purple a,
.btn_purple button {display: block;width: 100%;height: 100%;font-family: 'NanumSquareEB';color: #fff;text-align: center;}
.btn_line_pink {display: inline-block;*display:inline-block;width: auto;height: 50px;line-height: 50px;border: 1px solid #fc637d;border-radius: 5px;zoom:1;}
.btn_line_pink_txt {display:inline-block;width: auto;height: 50px;line-height: initial;border: 1px solid #fc637d;border-radius: 5px;zoom:1;}
.btn_line_pink_txt a,
.btn_line_pink a,
.btn_line_pink button {display: block;width: 100%;height: 100%;font-family: 'NanumSquareEB';color: #fc637d;text-align: center;}
.wrap_purple .btn_line_pink_txt,
.wrap_purple .btn_line_pink {border: 1px solid #7d35b1;}
.wrap_purple .btn_line_pink_txt a,
.wrap_purple .btn_line_pink a,
.wrap_purple .btn_line_pink button {color: #7d35b1;width: 100%;height: 100%;}

.btn_black {display: inline-block;*display:inline-block;width: auto;height: 50px;line-height: 50px;background: #000000;border-radius: 5px;zoom:1;}
.btn_black a,
.btn_black button {display: block;width: 100%;height: 100%;font-family: 'NanumSquareEB';color: #fff;text-align: center;}

.btn_box button:disabled,
.btn_box a.disabled {background: #cfcfcf;color: #727272!important;border-radius: 5px;}
.btn_box .btn_float_txt {font-family: 'NanumSquareB';font-size: 12px;color: #fff;display: block;padding-top: 7px;}
.btn_line_pink_txt .btn_float_txt {color: #fc637d;}
.wrap_purple .btn_line_pink_txt .btn_float_txt {color: #7d35b1;}

.btn_box .btn_green {width: 100%;}
.btn_box .btn_purple {width: 100%;}
.btn_box01 .btn_gray {width: 100%;}
.btn_box01 .btn_green {width: 100%;}
.btn_box01 .btn_orange {width: 100%;}
.btn_box01 .btn_pink {width: 100%;}
.btn_box01 .btn_purple2 {width: 100%;}
.btn_box01 .btn_line {width: 100%;}
.btn_box02 .btn_gray {float: left;width: calc(50% - 5px);}
.btn_box02 .btn_green {float: right;width: calc(50% - 5px);}
.btn_box02 .btn_orange {float: right;width: calc(50% - 5px);}
.btn_box02 .btn_pink {float: right;width: calc(50% - 5px);}
.btn_box02 .btn_purple2 {float: right;width: calc(50% - 5px);}
.btn_box02 .btn_black {float: right;width: calc(50% - 5px);}
.btn_box03 .btn_gray {width: calc(33.33% - 5px);vertical-align: top;}
.btn_box03 .btn_green {width: calc(33.33% - 5px);vertical-align: top;}
.btn_box03 .btn_purple2 {width: calc(33.33% - 5px);vertical-align: top;}
.btn_box03 .btn_line_green {width: calc(33.33% - 5px);vertical-align: top;}
.btn_box04 .btn_pink_txt,
.btn_box04 .btn_pink {float: right;width: calc(50% - 5px);}
.btn_box04 .btn_purple2 {float: right;width: calc(50% - 5px);}
.btn_box04 .btn_line_pink_txt,
.btn_box04 .btn_line_pink {float: left;width: calc(50% - 5px);}


.wrap_sub .btn_box.btn_bottom {position: absolute;bottom: 25px;left: 0;width: 100%;}
.wrap_sub .btn_box.btn_bottom2 {width: 100%;padding-bottom: 25px;}

.bg_first {background: #a8a492;background: radial-gradient(circle,#f6f5f1,#a8a492);background: -webkit-radial-gradient(circle,#f6f5f1,#a8a492);background: -moz-radial-gradient(circle,#f6f5f1,#a8a492);background: -ms-radial-gradient(circle,#f6f5f1,#a8a492)/* ;box-shadow: 0px 5px 10px #96917b inset */;}
.bg_smart {background: #f97c80;background: radial-gradient(circle,#f4acaf,#f97c80);background: -webkit-radial-gradient(circle,#f4acaf,#f97c80);background: -moz-radial-gradient(circle,#f4acaf,#f97c80);background: -ms-radial-gradient(circle,#f4acaf,#f97c80);/* box-shadow: 0px 5px 10px #e65459 inset; */}
.bg_stylish {background: #7db14a;background: radial-gradient(circle,#b3d293,#7db14a);background: -webkit-radial-gradient(circle,#b3d293,#7db14a);background: -moz-radial-gradient(circle,#b3d293,#7db14a);background: -ms-radial-gradient(circle,#b3d293,#7db14a);/* box-shadow: 0px 5px 10px #63a322 inset; */}
.bg_musician {background: #edba50;background: radial-gradient(circle,#f8d997,#edba50);background: -webkit-radial-gradient(circle,#f8d997,#edba50);background: -moz-radial-gradient(circle,#f8d997,#edba50);background: -ms-radial-gradient(circle,#f8d997,#edba50);/* box-shadow: 0px 5px 10px #efaf2a inset; */}
.bg_champion {background: #67c8cb;background: radial-gradient(circle,#a6e1e3,#67c8cb);background: -webkit-radial-gradient(circle,#a6e1e3,#67c8cb);background: -moz-radial-gradient(circle,#a6e1e3,#67c8cb);background: -ms-radial-gradient(circle,#a6e1e3,#67c8cb);/* box-shadow: 0px 5px 10px #46c0c3 inset; */}

/* POPUP */
.pop_barcode + .pop_agree01 {position: fixed; top: 50%; transform: translateY(-50%);}
.pop_wrap {display: none;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: #fff;z-index: 20;}
.pop_wrap .pop_box {position: relative;width: 100%;height: 100%;overflow-y: auto;-webkit-overflow-scrolling: touch;}
.pop_wrap .pop_inner {position: relative;padding: 0 15px;}
.pop_wrap .pop_top {position: relative;width: 100%;background: #79bd28;height: 50px;}
.pop_wrap .pop_top .title {font-family: 'NanumSquareB';font-size: 18px;color: #fff;text-align: center;line-height: 50px;}
.pop_wrap .pop_top .close {position: absolute;right: 15px;top: 16px;width: 18px;}
.pop_wrap .pop_top .close a {display: block;width: 100%;height: 100%;}

.pop_mask {display: none;position:fixed; width:100%; height:100%; top:0px; left:0px; background-color:#000; opacity:0.4;z-index: 20;}
.pop_mask2 {display: none;position:fixed; width:100%; height:100%; top:0px; left:0px; background-color:#000; opacity:0.4;z-index: 20;}
.pop_mask_doctor {display: none;position:fixed; width:100%; height:100%; top:0px; left:0px; background-color:#000; opacity:0.4;z-index: 20;}
.pop_mask_smart {display: none;position:fixed; width:100%; height:100%; top:0px; left:0px; background-color:#000; opacity:0.4;z-index: 20;}
.pop_mask.on {display: block;}
/* .pop_info {display: none;position:absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 260px;z-index: 30;} */
.pop_info {display: none;position:absolute;top: 0;left:50%;width: 260px;z-index: 30;}
.pop_info.on {display: block;position:fixed;left:50vw;transform: translateX(-50%);}
.pop_info.pop_wide {width: calc(100% - 30px);}
.pop_info .pop_info_inner {position: relative;padding-top: 40px;}
.pop_info .pop_info_inner_barcode {position: relative;padding-top: 40px;}
.pop_info .btn_close {position: absolute;top: 0;right: 0;width: 30px;height: 30px;}
.pop_info .pop_con {padding: 20px;background: #fff;border-radius: 10px;font-weight: 400;}
.pop_info .pop_con .pop_tit {padding-top: 18px;font-size: 18px;line-height: 1.2;text-align: center;letter-spacing: -1.25px;}
.pop_info .pop_con .pop_txt {padding-top: 15px;font-size: 12px;line-height: 1.2;color: #999;text-align: center;font-weight: 400;}
.pop_info .pop_con .check_box {width: 100%;padding: 20px 0;display: flex; align-items: center;}
.pop_info .pop_con .check_box label {font-size: 13px;margin-left: 5px;}
.pop_info .pop_con .check_box .ag_pop {display: inline-block;width: 8px;height: 11px;background: url(../images/common/arrow_g_right.png)no-repeat;background-size: contain;font-size: 0;text-indent: 9999px;margin-left: 10px;}
.pop_info .pop_con .pop_txt02 {padding-top: 20px;font-size: 13px;line-height: 1.2;color: #333;text-align: center;font-weight: 400;}
.pop_info .pop_con .btn_box {margin-top: 20px;}
.pop_info .pop_con .grysml {font-family: 'NanumSquareR';font-size: 10px;font-weight: normal;color: #999;letter-spacing: -.5px;text-align: center;line-height: 1.5;}
.pop_info .pop_con .gray_line {width: 100%;height: 1px;background: #e8e8e8;}
.pop_info .pop_con .green_tit {font-family: 'NanumSquareB';color: #79bd28;letter-spacing: -.65px;}

.pop_info .pop_con .btn_box > div {height: 40px;line-height: 40px;}
.pop_info .pop_con .btn_box > div a { font-size: 13px; }
.pop_info .pop_con .btn_box01 > div {margin-bottom: 5px;}
.pop_info .pop_con .btn_box01 > div:last-of-type {margin-bottom: 0;}

/* .pop_info .pop_con .btn_box .btn_black {width: 40%;}
.pop_info .pop_con .btn_box .btn_gray {width: 40%;} */

.pop_info .pop_con .txt_box {margin-top: 15px;padding: 10px 0;background: #f5f5f5;border-radius: 5px;}
.pop_info .pop_con .txt_box p {font-family: 'NanumSquareEB';font-size: 13px;color: #79bd28;text-align: center;line-height: 1.4;}
/* .pop_info .pop_con .btn_box .btn_green {height: 40px;line-height: 40px;} */
.pop_info .pop_con .btn_box .btn_green a {font-family: 'NanumSquareB';}

.pop_info .pop_con .area_box {height: 40px}
.pop_info .pop_con .area_box textarea {padding: 5px;line-height: 1.2;}

/* 2023.11.02 팝업 텍스트 */
.pop_info .fwB {font-family: 'NanumSquareB';}
.pop_info .fz18 {font-size: 18px;line-height: 1.27;letter-spacing: -.9px;}
.pop_info .fz13 {font-size: 13px;line-height: 1.46;letter-spacing: -1.25px;}
.pop_info .fz12 {font-size: 12px;line-height: 1.4;letter-spacing: -1px;}
.pop_info .fz11 {font-size: 11px;line-height: 1.45;letter-spacing: -.825px;}
.pop_info .fz10 {font-size: 10px;line-height: 1.7;letter-spacing: -.5px;}
.pop_info .fc999 {color: #999;}
.pop_info .fc222 {color: #222;}
.pop_info .fc555 {color: #555;}
.pop_info .fcff4200 {color: #ff4200;}
.pop_info .fcgreen {color: #79bd28;}
.pop_info .tcenter {text-align: center;}
.pop_info .tLeft {text-align: left;}
.pop_info .gray_txt_list li {display: flex;align-items: center;}
.pop_info .gray_txt_list dt {flex-shrink: 0;border-radius: 10px;padding: 0 8px;background: #e8e8e8;font-family: 'NanumSquareB';font-size: 10px;color: #222;text-align: center;line-height: 20px;margin-right: 5px;}
.pop_info .gray_txt_list dd {font-size: 11px;font-family: 'NanumSquareR';color: #555;line-height: 1.45;letter-spacing: -1.1px;margin-top: 2.5px;}ㅏ
.pop_info .gray_list {position: relative;padding-left: 8px;}
.pop_info .gray_list::before {content:'';display: block;width: 3px;height: 3px;background: #999;border-radius: 100%;position: absolute;top: 5px;left: 0;}
.pop_info .gray_list.tcenter::before {position: initial;display: inline-block;vertical-align: middle;}
.pop_info .green_list {position: relative;padding-left: 8px;}
.pop_info .green_list::before {content:'';display: block;width: 3px;height: 3px;background: #79bd28;border-radius: 100%;position: absolute;top: 5px;left: 0;}
.pop_info .btn_box button,
.pop_info .btn_box a {font-family: 'NanumSquareB';font-size: 13px;}
.pop_btn .checkbox_row {display: block;text-align: center;padding-bottom: 10px;}
.pop_btn .checkbox_row input[type="checkbox"] + label {font-family: 'NotoSansR';font-size: 13px;color: #333;letter-spacing: -.65px;}
.pop_btn .checkbox_row input[type="checkbox"] + label::before {top: -2px;}
.pop_info .checkbox_row {position: initial;}
.pop_info .checkbox_row input[type="checkbox"] + label {top: 0;margin-top: 10px;}
.pop_info .pop_con .circle { display: flex; justify-content: center; margin: 15px 0; }
.pop_info .pop_con .circle > div { width: 3px; height: 3px; border-radius: 50%; background: #79bd28; margin: 0 2.5px; }

/* ERROR */
.wrap_error {position: relative;width: 100%;height: 100%;}
.wrap_error .error_box {position: relative;}
.wrap_error .error_box .inner01 {min-height: 210px;padding: 105px 15px 0 15px;background: url(../images/common/icon_error01.png) no-repeat;background-size: 80px 80px;background-position: 50% 0;}
.wrap_error .error_box .inner02 {min-height: 210px;padding: 105px 15px 0 15px;background: url(../images/common/icon_error02.png) no-repeat;background-size: 80px 80px;background-position: 50% 0;}
.wrap_error .error_box h2 {font-size: 28px;text-align: center;}
.wrap_error .error_box p {padding-top: 25px;font-size: 13px;color: #727272;text-align: center;line-height: 1.3;}
